body{
    background:#ddd;
    text-align: center;
    margin: 0;
    padding: 0;
    width:100%;
    font-size: medium;
    font-weight: bolder;
}

html{
  margin: 0;
  padding: 0;
  width:100%;
}

#main{
    background:#fff;
    margin: 0 auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow:0 1px 2px hsla(0, 0%, 0%, 0.3);
    margin-top:25px;
    margin-bottom:50px;
    min-width:768px;
    padding-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
}
h3{
  color: #D9A91A;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Tajawal', sans-serif;
  margin-top: 15px;
}

.container{
  width: 750px;
  text-align: right;
}

.code{
  font-size: smaller;
  text-align: right;
}

table{
  border-collapse: collapse;
  border-spacing: 0 0px;
  padding-left: 30px;
}



.in{
  padding-left: 90px;
  margin-left: 330px;
}
.tslsl{
  margin-left: 180px;
}
.invalid{
  color: red;
}

@media (max-width: 800px) {
  #main{
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    padding-left: 20px;
    padding-right: 10px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    min-width:0px;
  }
  .github-banner{
    display: none;
  }
}

@media print {
  /* These styles will only be used when the page is printed or saved to PDF. */
  table, td {
    /* border: 1px solid black; */
    padding: 5px;
  }

  .related-articles { 
    display: none; 
  }

  @page {
    /* Set a margin on all other pages. */
    size: A4; /* DIN A4 standard, Europe */
    margin: 7mm 4mm 7mm 7mm;
  }

  body {
    width: 210mm;
    height: 297mm;
    border: 1px solid white;
    margin:0mm ;
  }


}

#userInput{
  height:35px;
}

#barcode{
    vertical-align: middle;
}

#title{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: left;
    line-height: 90%;
}

#title a:link{
    text-decoration: none;
    color: #000;
}

#title a:visited {
    text-decoration: none;
    color: #000;
}

#title a:hover {
    text-decoration: underline;
    color: #000;
}

#title a:active {
    text-decoration: underline;
    color: #000;
}

#invalid{
    display: none;
    color:#DE0000;
    margin-top:10px;
    font-size:14pt;
    vertical-align: middle;
}

#invalidCount{
  color: #DE0000;
}
#barcodeType{
  height:35px;
}

.svgCell{
  text-align: left;
  float: left;
}

.barcode-container{
  height:150px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  margin-left: 25px;
  margin-right: 25px;
}

.description-text{
  height:42px;
}

.description-text p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.value-text{
  height:42px;
  text-align: right;
}

.value-text p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-text{
  text-align: center;
}

.search-bar{
  margin-bottom: 20px;
}

.slider-container{
  margin-top: 17px;
}

.input-container{
  margin-top: 5px;
}

.barcode-select{
  border-color: #ccc;
}

input {
  border: 2px solid currentcolor;
}

input:invalid {
  border: 1px dashed goldenrod;
}

input:invalid:focus {
  background-image: linear-gradient(rgb(255, 243, 192), rgb(233, 182, 15));
}